.exp_explain_wrapper {
    display: flex;
    flex-direction: column;
}

.exp_explain_wrapper .exp_explain_title {
    font-size: 4rem;
    align-self: center;
}

.exp_explain {
    margin: 1rem;
    font-size: 2rem;
}

.exp_explain_wrapper .exp_list {
    list-style-type: decimal;
    font-size: 2rem;
    align-self: center;
}

.exp_explain_wrapper  .exp_start_button {
    width: 300px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  5px 5px 19px #858585, 
                 -5px -5px 19px #ffffff;
    padding: 1rem;
    margin: 1rem;
    text-align:center;
    align-self: center;
}
.exp_start_button_text {
    font-size: 2rem;
}

.exp_image {
    width: 70%;
    height: 70%;
}

figure {
    text-align: center;
    padding: 2rem;
}
figure figcaption {
    text-align: center;
    font-size: 50px;
}

.bold {
    font-weight: bold;
}
.ECM_RadioInput {
    padding: 12px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .ECM_RadioInput:hover {
    background: rgba(0,0,0,0.05);
  }
  .ECM_RadioInput-Input {
    opacity: 0;
    width: 0;
    margin: 0;
  }
  .ECM_RadioInput-Input:focus + .ECM_RadioInput-DummyInput {
    border: solid 2px #333333;
    background: #EEEEEE;
  }
  .ECM_RadioInput-Input:checked + .ECM_RadioInput-DummyInput {
    border: solid 2px #333333;
  }
  .ECM_RadioInput-Input:checked + .ECM_RadioInput-DummyInput::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #333333;
  }
  .ECM_RadioInput-DummyInput {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: solid 2px #888;
  }
  .ECM_RadioInput-LabelText {
    margin-left: 12px;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  .stimulusType {
    position: static;
    width: 250px;
    height: 30px;
    left: 229px;
    top: 302px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 56px;

    color: #000000;

    flex: none;
    align-self: flex-start;
    flex-grow: 0;
    margin: 10px 43px 20px 60px;
}
.radio_box {
    width: 400px;
    align-self: center;
}
/* .radio_content {
    border: none;
    padding: 1rem;
    margin: 0;
    text-align: center;
}
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    font-size: 40px;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #D1F2A0;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
} */